In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('data/ratings.csv')
df.head(5)

   user_id  book_id  rating
0        1      258       5
1        2     4081       4
2        2      260       5
3        2     9296       5
4        2     2318       3

In [17]:
pd.value_counts(df['book_id']).head(5)

1    22806
2    21850
4    19088
3    16931
5    16604
Name: book_id, dtype: int64

In [9]:
pd.value_counts(df['user_id']).tail(5)

51725    21
32128    21
40753    21
43675    20
34590    19
Name: user_id, dtype: int64

In [10]:
pd.value_counts(df['book_id']).tail(5)

9315    36
1935    33
9486    24
9345    11
7803     8
Name: book_id, dtype: int64

In [29]:
f = ['count','mean']
df_rating_count = df.groupby('book_id')['rating'].agg(f)
df_rating_count.index = df_rating_count.index.map(int)
movie_benchmark = round(df_rating_count['count'].quantile(0.8),0)
movie_benchmark
# df_movie_summary.index

631.0

In [47]:
round(df_rating_count['count'].quantile(1),0)

22806.0

In [46]:
df_rating_count['count'].quantile(0.5)

248.0

In [48]:
df_rating_count['count'].quantile(0.1)

115.0